.custom-dropdown{                
                padding: 8px 0 8px 10px !important;
                -moz-padding: 8px 0 8px 10px !important;

            }
            .custom-dropdown .dropbtton{
                padding: 0;
                -moz-padding: 0;
            }
            .custom-dropdown .dropbtton i{
                font-size: 22px;
                padding: 5px 12px;
                 -moz-osx-font-size: 30px;
                -moz-padding: 5px 12px;             
            }            
            .custom-dropdown .dropdown-content {                
                display: none;
                position: absolute;                
                background-color: transparent;
                width: 160px;
                overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                left: -106px;
                margin-top: 10px;
                -moz-display: none;
                -moz-position: absolute;                
                -moz-background-color: transparent;
                -moz-width: 160px;
                -moz-overflow: auto;
                -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                -moz-left: -106px;
                -moz-margin-top: 10px;
            }

            .dropdown-content a{
                color: black;
                padding: 10px 16px;
                text-decoration: none;
                display: block;
                background-color: #f8f8f8;
                -moz-color: black;
                -moz-padding: 10px 16px;
                -moz-text-decoration: none;
                -moz-display: block;
                -moz-background-color: #f8f8f8;
            }   
            .dropdown-content a:hover {                               
                background-color:#D9D9D9;
                -moz-background-color:#D9D9D9;
            } 
           
            
           
.dropdown-toggle .icon-bars-button{
  display: inline-block;
  vertical-align:middle;
  
}
.dropdown-toggle .icon-bar {
    margin-bottom: 2px;
    display: block;
    width: 22px;
    height: 5px;
    background-color: black;
    padding-right: 0px;
    border-radius: 1px;
}
.dropdown-menu
{
    display:none;
	position:relative;
        
	
}

.dropdown
{
  left: 350px;
top: 15px;  
}
.upper-text li a
{
    color: #245269;
}
.bar .dropdown-menu
{
    left: 100px;
    top: 30px;
    background-color: #eee;
}
.navbar-border
{
    border-color: whitesmoke;
}

.video
{
    padding-top: 40px;
    padding-bottom: 40px;   
}
.video-top
{
    font-size: 24px; 
    font-family: myFirstFont;
    
}

/* service */





.title-area .title {
	border-bottom: 5px solid #006cae;
       
	color: grey;
	
}


.title-area .title::before {
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	top: 60px;
	width: 120px;
}

.title-area1 .title1 {
	border-bottom: 5px solid skyblue;
	color: skyblue;
        width: 60px;
        
	
}


.title-area1 .title1::before {
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	top: 60px;
	
}
.title-area2 .title2 {
	border-bottom: 5px solid gray;
        border-top: 5px solid gray;
	color: grey;
	
}


.title-area2 .title2::before {
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	top: 60px;
	width: 120px;
}
/* menu */

.bottom-section
{
    height: 350px;
    background-color: #def2f9;
    padding-top: 1px;
    
    
}
.bottom-section1
{
    
    background-color: #def2f9;
    padding-top: 1px;
    
    
}
.cursor-top
{
    top: 220px;
}



.box2
            {
                width: 245px;
                height: 350px;
                position: absolute;
                padding-left: 1px;
               letter-spacing: .8px;
                
            }
            .box1
            {
                width: 350px;
                
                position: absolute;
                letter-spacing: .8px;
              
                left: -250px;;
            } 
            .box2
            {
                z-index: 9;
               letter-spacing: .8px;
                overflow: hidden;
               
               
            }
           .box1
            {
                z-index: 10;
                background: #e7e6e6;
                transition: ease-out 0s;
                letter-spacing: .8px;
                
                
                position : absolute;
    width: 100%;
    height: 350px;
    font-size: 20px;
    text-align: center;
    top: 0%;
    /* margin-top: -12px; */
    
               
                
            } 
            .box2:hover  .box1
            {
                left:0px;
                /*height:500px;*/
                
            }      
   .btn-en
   {
       margin-top: 5px;
   }
       .btn-cb
       {
           margin-top: -10px;
       }
       .btn-xl
     {
      color: white;      
    background-color: #0099CC;
    border-color: none;
   padding: 1px 20px;
    text-transform: uppercase;
    font-weight: 100;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    
     }     
            
       
     .testimonial-slider {
    background-color: #f7f7f7;
    display: inline;
    float: left;
    padding: 40px;
    width: 100%;
    border: 1px solid #ddd;
    
}


section#contact .section-heading {
    color: #fff;
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 15px;
}
.section-heading
{
    text-align: left;
    font-family: myFirstFont;
    padding-left: 200px;
    
   
}
.section-heading1
{
    text-align: left;
    font-family: myFirstFont;
    color: whitesmoke;
    padding-left: 500px;
    
   
}
.primary
{
    border-top: 1px solid #006cae;
    width: 750px;
}
.lapp p
{
    font-size: 24px;
}
.video p
{
    padding-left: 435px;
}
.video img
{
    padding-left: 0px;
    width: 30%;
    margin-top: 100px;
}
.text-center {
    text-align: center;
   
}
.border-side {
    border-bottom: 1px solid #006cae;
    font-size: 30px;
    margin: 0 auto 15px;
    width: 60%;
}
.border-side > span {
   background-image: url("../images/mission.gif");
    position: relative;
    top: 18px;
    padding: 0 23px;
    font-family: myFirstFont;
}

.border-sider {
    border-bottom: 1px solid #006cae;
    font-size: 30px;
    margin: 0 auto 15px;
    width: 72%;
}
.border-sider > span {
    background-color: #fff;
    position: relative;
    top: 18px;
    padding: 0 23px;
    font-family: myFirstFont;
}
.border-side1 {
    border-bottom: 1px solid #006cae;
    
    width: 80%;
     margin: 0 auto 15px;
       
}

.border-side2 {
   
    font-size: 24px;
    margin: 0 auto 15px;
    width: 60%;
    
}
.wws-text
{
    text-align: left; 
    font-size: 18px;
}
.text-std
{
    font-family: myFirstFont;
}

section h3.section-subheading {
    font-size: 16px;
    font-family: myFirstFont;
    text-transform: none;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 75px;
}
.text-muted {
    color: #777;
}
section#contact .form-group textarea.form-control {
    height: 215px;
}
section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-family: myFirstFont;
}

.side-topic
{
   width: 320px;
   
    text-align: justify;
    
    font-size: 16px;
     padding-left: 20px;
     padding-right: 20px;
}
.side-topic1
{
   width: 270px;
   
    text-align: center;
    
    font-size: 16px;
   
}
.side-topic2
{
   width: 320px;
   
    text-align: justify;
    
    font-size: 16px;
     padding-left: 20px;
     padding-right: 20px;
}
.semi-text
{
    font-size: 24px;
}
.border-side3 {
   
    font-size: 30px;
    padding-top: 50px;
    padding-right: 70px;
  font-family: myFirstFont;
  line-height: 1.2;
   
    
}
#right
{
    float: right;
    margin-right: 50px;
    width: 270px;
    height: 400px;
    margin-top: -20px;
}

#left
{
   float: left;
    width: 800px;
    height: 300px;
  
    
}
.footerbar {
    background-color: black;
    width: 100%;
    height: 44px;
    position: fixed;
    bottom: 0px;
    z-index: 1041;
    font-family: myFirstFont;
}
.footerbar .call-us {
    display: inline-block;
    float: left;
    font-size: 13px;
    color: #fff;
    cursor: default;
    line-height: 44px;
}
.dropTrigger {
    
   padding-top: 5px;
}




.title-arear .titler {
	border-bottom: 5px solid grey;
	color: grey;
        width: 1200px;
        
       
	
}


.title-arear .titler::after {
	content: "";
	height: 5px;
	left: 0;
	position: absolute;
        

	
}
/*!
 Form
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



fieldset {
	border: 0;
  padding-left: 10px;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 100%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}
.enrf
{
    border: 2px solid black;
    width: 50%;
    padding-left: 20px;
    margin-left: 250px;
    margin-top: 20px;
}
.mno
  {
      background-color: #666666;
      height: 3%;
      width: 550px;
      margin-left: 10px;
      text-align: left;
  }
  .mnof
  {
      padding-top: 10px;
      background-color: lightgrey;
      width: 550px;
      margin-left: 10px;
  }
  .pfee
  {
      background-color: #666666;
      height: 3%;
      width: 550px;
  }
  .pfeef
  {
     padding-top: 20px;
  }
  .pfeefg
  {
      margin-top: 20px;
  }
  .pop
  {
      background-color: #666666;
      height: 3%;
      width: 550px;
  }
  .popf
  {
      padding-top: 10px;
      background-color: transparent;
      width: 550px;
  }
.rsb
  {
      padding-top: 10px;
      background-color: grey;
      height: 4%;
      width: 550px;
      margin-left: 10px
  }
 
  .penr
  {
      padding-top: 20px;
      text-align: left;
      margin-left: 12px
  }
  .oview
  {
      text-align: left;
      margin-left: 25px
  }
  
@media (max-width: 900px) {
    .enrf{
      width: 100%;
      margin-left: 0px;
      padding-left: 0px;
      border: 2px solid black;
    padding-top: 50px;
    padding-left: 0px;
    margin-left: 0px;
}
.mno
  {
      background-color: grey;
      height: 4%;
      width: 99%;
      margin-left: 10px;
      text-align: left;
  }
  .mnof
  {
      padding-top: 0px;
      background-color: lightgrey;
      width: 100%;
      margin-left: 0px;
  }
  .pfee
  {
      background-color: grey;
      height: 4%;
      width: 100%;
  }
  .pfeef
  {
      margin-top: 30px;
      background-color: transparent;
      
      margin-left: 5px;
  }
  .pop
  {
      background-color: grey;
      height: 4%;
      width: 100%;
  }
  .popf
  {
      padding-top: 10px;
      background-color: transparent;
      width: 100%;
  }
.rsb
  {
      padding-top: 2px;
      background-color: grey;
      height: 4%;
      width: 100%;
      margin-left: 0px
  }
  
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
  .oview
  {
      text-align: left;
      padding-left: 40px
  }
  .penr
  {
      padding-top: 50px;
      text-align: left;
      padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}

.thank-back
{
    padding-bottom: 50px;
}
.thank-back h3{
    font-size: 40px;
    padding-top: 50px;
}
.thank-back p{
    text-align: justify;
    font-size: 24px; 
    padding-left: 250px;
}



.scrollup
        {
            position: fixed;
            bottom: 40px;
            right:8px;
            color:rgba(93,93,93,0.5);
            transition: all 1s;
        }
        @media (min-width:1000px) and (max-width: 2000px)
        {
            .scrollup
            {
                    font-size:60px;
                    bottom: 40px;
                    right:10px;
            }
        }
        @media (min-width:700px) and (max-width:1000px)
        {
            .scrollup
            {
                    font-size:45px;	
            }
        }        
        @media (min-width:600px) and (max-width: 700px)
        {
            .scrollup
            {
                    font-size:40px;
                    b
                    right:7px;
            }
        }
        @media (min-width:400px) and (max-width: 600px)
        {
            .scrollup
            {
                    font-size:35px;
                    
                    right:7px;
            }
        }
        @media (min-width:0px) and (max-width: 400px)
        {
            .scrollup
            {
                    font-size:30px;
                    
                    right:5px;
            }
        }
        
@font-face
        {
            font-family: myFirstFont;
            src: url('../fonts/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2');
            
        }
      
       #content {
  
  width: 270px;
    text-align: justify;
    overflow: hidden;
  height: 3.6em;
    font-size: 16px;
} 
       

#more:checked + div {
  height: auto;
}

/*.howit-works-video {
    background: rgba(0, 0, 0, 0) url("../images/macbook-pro.png") no-repeat scroll center 100% / 100% auto;
    margin-right: 100px;
    max-width: 700px;
    padding: 70px 120px 60px;
    position: relative;
 float: left;
    z-index: 10;
}
*/

.howit-works-video {
    background: rgba(0, 0, 0, 0) url("../images/macbook-pro.png") no-repeat scroll center 100% / 100% auto;
    /* margin-right: 100px; */
    max-width: 700px;
    padding: 30px 120px 60px;
    position: relative;
    float: left;
    z-index: 10;
    
}
.sbm
{
    color: white;
}
 a.sbm:hover 
{
    color: #E5574F;
}

.smap
{
    margin-left: 50px;
}
.smimg
{
    height: 170px; 
    padding-bottom: 110px; 
    margin-top: 50px;
}
.simg
{
    float: left;
    padding-left: 0px;
}
.smmid
{
     float: right; 
     text-align: left;
     margin-top: 20px;
     padding-right: 200px;
     line-height: 2;
}
.smtop
{
    float: left; 
    text-align: left; 
    padding-left: 200px;
    margin-top: 20px; 
    line-height: 2;
}
.smbot
{
    float: left;
    text-align: left; 
    padding-left: 120px;
    margin-top: 20px;
    line-height: 2;
}
.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.fade.in {
    opacity: 1;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal-backdrop 
{
    background-color: rgba(0,0,0,.5);
}
body
{
    letter-spacing: .8px;
}



.comment {
	
	background-color: #f0f0f0;
	margin: 10px;
}
a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;

}