.custom-dropdown{                

                padding: 18px 50px 8px 0px !important;

                -moz-padding: 8px 0 8px 10px !important;




            }

            .custom-dropdown .dropbtton{

                padding-top: 5px;

                -moz-padding: 0;

                background-color: transparent;

                font-family: myFirstFont; 

                font-size: 19px;

            }

            .custom-dropdown .dropbtton i{

                font-size: 20px;

                padding: 5px 10px;

                 -moz-osx-font-size: 30px;

                -moz-padding: 5px 12px;             

            }            

            .custom-dropdown .dropdown-content {                

                display: none;

                position: absolute;                

                background-color: transparent;

                width: 160px;

                overflow: auto;

                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

                left: -106px;

                margin-top: 10px;

                -moz-display: none;

                -moz-position: absolute;                

                -moz-background-color: transparent;

                -moz-width: 160px;

                -moz-overflow: auto;

                -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

                -moz-left: -106px;

                -moz-margin-top: 10px;

            }



            .dropdown-content a{

                color: black;

                padding: 10px 16px;

                text-decoration: none;

                display: block;

                background-color: #f8f8f8;

                -moz-color: black;

                -moz-padding: 10px 16px;

                -moz-text-decoration: none;

                -moz-display: block;

                -moz-background-color: #f8f8f8;

            }   

            .dropdown-content a:hover {                               

                background-color:#D9D9D9;

                -moz-background-color:#D9D9D9;

            } 

           
.navbar-nav > li > a {
  padding-top: 18px !important;
}       

           

.dropdown-toggle .icon-bars-button{

  display: inline-block;

  vertical-align:middle;

  

}

.dropdown-toggle .icon-bar {

    margin-bottom: 2px;

    display: block;

    width: 22px;

    height: 5px;

    background-color: black;

    padding-right: 0px;

    border-radius: 1px;

}

.dropdown-menu

{

    display:none;

	position:relative;

        

	

}



.dropdown

{

  left: 350px;

top: 15px;  

}

.upper-text li a

{

    color: #245269;

}

.bar .dropdown-menu

{

    left: 100px;

    top: 30px;

    background-color: #eee;

}

.navbar-border

{

    border-color: whitesmoke;

}



.header-bar li{
  padding-right: 20px;
  display: inline;
  text-transform: uppercase;
  color: #9ab51f;
}

.header-bar li,a{
  color: #9ab51f;
}

.header-bar a:focus, a:hover{
  color: #006cae;
}

.header-bar {
  padding-right: 40px;
  padding-top: 10px;

  margin: 0px;
}


.intro-sec{
  padding-top: 55px;
}



.intro-sec .btn-xl {
padding: 1px 10px;
border-radius: 0px !important;
}


.video
{
    padding-top: 0px;
    padding-bottom: 0px;   
}

.video-top

{

    font-size: 24px; 

    font-family: myFirstFont;

    

}

.intro-text{
  padding-top: 25px;
  padding-left: 0px;
}


/* modal css starting*/
@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: 'Roboto', sans-serif;
}

#login-modal .modal-dialog {
    width: 800px;
}

#login-modal input[type=text], input[type=password] {
  margin-top: 10px;
}


#register-modal .modal-dialog{
  width: 800px;
  margin-top: 5px; 
}



.modal-left-sec {
  background-image: url("images/login_img.png");
  background-position: center 85%;
  background-repeat: no-repeat;
  background-color: #006cae;
  z-index: 999;
  padding: 15px;
  color: #fff;
  height: 410px;


}

.modal-left h3 {
  padding-bottom: 23px;
 }

.modal-ul li:before {
  content: '✓';
}

.modal-ul {
  list-style: none;
  padding-left: 15px; 
}

.modal-ul li {
  padding-bottom: 30px;
}





#register-modal input[type=text], input[type=password], input[type=Mobile],input[type=pincode]{
  margin-top: 7px;
}

#register-modal #address {
  margin-top: 7px;
}

#register-modal #register_college {
  margin-top: 7px;
}

#register-modal #country{
  margin-top: 7px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 200px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */



.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 10px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 0px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    /*background-color: #006cae;*/
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
    background-color: #006cae; 
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color:  #fff;
    
}

.btn-link:hover, .btn-link:focus {
    color:  #fff;
    text-decoration: none;
    
}

.glyphicon {
    top: 0px;
}

.form-control {
  border-radius: 0px;
}
/*modal css ending point*/


.fbloginBtn {
    display: block;
    height: 34px;
    line-height: 34px;
    background-color: #4966a4;
    font-size: 20px;
    text-decoration: none;
    color: #fff !important;
    -webkit-radius: 50px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;

}

.knowledgelablogin{
  text-align: center;
  font-size: 14px;
  display: inline-block;
  color: rgba(85,85,85,0.6);
  padding-top: 0px;
  padding-bottom: 5px;
}

.fblogin{
  padding-top: 5px;
  padding-bottom: 5px; 
}

/* service */

.image-bottom-boder {
    border-top: 4px solid  #9ab51f;
    width: 100%;
    padding-top: 0px; 
    margin-top: 0px !important;
}



.tag-line {
    background: #FFF;
    color: #000;
    padding-top: 15px;
    padding-bottom: 50px;
    font-size: 16px;
}








.title-area .title {

	border-bottom: 5px solid #006cae;

       

	color: grey;

	

}





.title-area .title::before {

	content: "";

	height: 2px;

	left: 0;

	position: absolute;

	top: 60px;

	width: 120px;

}



.title-area1 .title1 {

	border-bottom: 5px solid skyblue;

	color: skyblue;

        width: 60px;

        

	

}





.title-area1 .title1::before {

	content: "";

	height: 2px;

	left: 0;

	position: absolute;

	top: 60px;

	

}

.title-area2 .title2 {

	border-bottom: 5px solid gray;

        border-top: 5px solid gray;

	color: grey;

	

}





.title-area2 .title2::before {

	content: "";

	height: 2px;

	left: 0;

	position: absolute;

	top: 60px;

	width: 120px;

}

/* menu */



.bottom-section

{

    height: 350px;

    background-color: #def2f9;

    padding-top: 1px;

    

    

}

.bottom-section1

{

    

    background-color: #def2f9;

    padding-top: 1px;

    

    

}

.cursor-top

{

    top: 220px;

}







.box2

            {

                width: 245px;

                height: 350px;

                position: absolute;

                padding-left: 1px;

               letter-spacing: .8px;

                

            }

            .box1

            {

                width: 350px;

                

                position: absolute;

                letter-spacing: .8px;

              

                left: -250px;;

            } 

            .box2

            {

                z-index: 9;

               letter-spacing: .8px;

                overflow: hidden;

               

               

            }

           .box1

            {

                z-index: 10;

                background: #e7e6e6;

                transition: ease-out 0s;

                letter-spacing: .8px;

                

                

                position : absolute;

    width: 100%;

    height: 350px;

    font-size: 20px;

    text-align: center;

    top: 0%;

    /* margin-top: -12px; */

    

               

                

            } 

            .box2:hover  .box1

            {

                left:0px;

                /*height:500px;*/

                

            }      

   .btn-en

   {

       margin-top: 5px;

   }

       .btn-cb

       {

           margin-top: -10px;

       }

       .btn-xl

     {

      /*color: white;      */

    background-color: transparent;

    border-color: #9ab51f;

   padding: 1px 20px;

    text-transform: uppercase;

    font-weight: 100;

    border-radius: 3px;

    font-size: 16px;

    text-align: center;

     } 



            

       

     .testimonial-slider {

    background-color: #f7f7f7;

    display: inline;

    float: left;

    padding: 40px;

    width: 100%;

    border: 1px solid #ddd;

    

}





section#contact .section-heading {

    color: #fff;

}

section h2.section-heading {

    font-size: 40px;

    margin-top: 80px;

    margin-bottom: 15px;

}

.section-heading

{

    text-align: left;

    font-family: myFirstFont;

    padding-left: 200px;

    

   

}

.section-heading1

{

    text-align: left;

    font-family: myFirstFont;

    color: whitesmoke;

    padding-left: 500px;

    

   

}

.primary

{

    border-top: 1px solid #006cae;

    width: 750px;

}

.lapp p

{

    font-size: 24px;

}

.video p

{

    padding-left: 435px;

}

.video img

{

    padding-left: 0px;

    width: 30%;

    margin-top: 100px;

}

.contact_text-center {

    text-align: center;
    color: #fff;

   

}

.video-btn{
  padding-top: 20px;
}


.border-side {

    border-bottom: 1px solid #006cae;

    font-size: 30px;

    margin: 0 auto 15px;

    width: 60%;

}

.border-side > span {

   background-image: url("../images/mission.gif");

    position: relative;

    top: 18px;

    padding: 0 23px;

    font-family: myFirstFont;

}



.border-sider {

    border-bottom: 1px solid #006cae;

    font-size: 30px;

    margin: 0 auto 15px;

    width: 72%;

}

.border-sider > span {

    background-image: url("../images/mission.gif");
    background-color: #fff;

    position: relative;

    top: 18px;

    padding: 0 23px;

    font-family: myFirstFont;

}

.border-side1 {

    border-bottom: 1px solid #006cae;

    

    width: 80%;

     margin: 0 auto 15px;

       

}



.border-side2 {

   

    font-size: 24px;

    margin: 0 auto 15px;

    width: 60%;

    

}

.wws-text

{

    text-align: left; 

    font-size: 18px;

}

.text-std

{

    font-family: myFirstFont;

}



section h3.section-subheading {

    font-size: 16px;

    font-family: myFirstFont;

    text-transform: none;

    font-style: italic;

    font-weight: 100;

    margin-bottom: 75px;

}

.text-muted {

    color: #777;

}

section#contact .form-group textarea.form-control {

    height: 215px;

}

section#contact .form-group input, section#contact .form-group textarea {

    padding: 20px;

}

section#contact .form-group input, section#contact .form-group textarea {

    padding: 20px;

}

section#contact .form-group input.form-control {

    height: auto;

}

section#contact .form-group input, section#contact .form-group textarea {

    padding: 20px;

}

.form-control {

    display: block;

    width: 100%;

    height: 34px;

    padding: 6px 12px;

    font-size: 14px;

    line-height: 1.42857143;

    color: #555;

    background-color: #fff;

    background-image: none;

    border: 1px solid #ccc;

    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;

    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    font-family: myFirstFont;

}



.side-topic

{

   width: 320px;

   

    text-align: justify;

    

    font-size: 16px;

     padding-left: 20px;

     padding-right: 20px;

}

.side-topic1

{

   width: 270px;

   

    text-align: center;

    

    font-size: 16px;

   

}

.side-topic2

{

   width: 320px;

   

    text-align: justify;

    

    font-size: 16px;

     padding-left: 20px;

     padding-right: 20px;

}

.semi-text

{

    font-size: 24px;

}

.border-side3 {

   

    font-size: 30px;

    padding-top: 50px;

    padding-right: 70px;

  font-family: myFirstFont;

  line-height: 1.2;

   

    

}

#right

{

    float: right;

    margin-right: 50px;

    width: 270px;

    height: 400px;

    margin-top: -20px;

}



#left

{

   float: left;

    width: 800px;

    height: 300px;

  

    

}

.footerbar {

    background-color: black;

    width: 100%;

    height: 44px;

    position: fixed;

    bottom: 0px;

    z-index: 1041;

    font-family: myFirstFont;

}

.footerbar .call-us {

    display: inline-block;

    float: left;

    font-size: 13px;

    color: #fff;

    cursor: default;

    line-height: 44px;

}

.dropTrigger {

    

   padding-top: 5px;

}









.title-arear .titler {

	border-bottom: 5px solid grey;

	color: grey;

        width: 1200px;

        

       

	

}





.title-arear .titler::after {

	content: "";

	height: 5px;

	left: 0;

	position: absolute;

        



	

}

/*!

 Form

 */



* {

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

}







fieldset {

	border: 0;

  padding-left: 10px;

}



input[type=text],

input[type=email],

input[type=url],

input[type=password],

textarea {

	width: 100%;

  border-top: 1px solid #ccc;

  border-left: 1px solid #ccc;

  border-right: 1px solid #eee;

  border-bottom: 1px solid #eee;

}

input[type=text],

input[type=email],

input[type=url],

input[type=password] {

  width: 100%;

}

input[type=text]:focus,

input[type=email]:focus,

input[type=url]:focus,

input[type=password]:focus,

textarea:focus {

  outline: 0;

  border-color: #4697e4;

}

.enrf

{

    border: 2px solid black;

    width: 50%;

    padding-left: 20px;

    margin-left: 250px;

    margin-top: 20px;

}

.mno

  {

      background-color: #666666;

      height: 3%;

      width: 550px;

      margin-left: 10px;

      text-align: left;

  }

  .mnof

  {

      padding-top: 10px;

      background-color: lightgrey;

      width: 550px;

      margin-left: 10px;

  }

  .pfee

  {

      background-color: #666666;

      height: 3%;

      width: 550px;

  }

  .pfeef

  {

     padding-top: 20px;

  }

  .pfeefg

  {

      margin-top: 20px;

  }

  .pop

  {

      background-color: #666666;

      height: 3%;

      width: 550px;

  }

  .popf

  {

      padding-top: 10px;

      background-color: transparent;

      width: 550px;

  }

.rsb

  {

      padding-top: 10px;

      background-color: grey;

      height: 4%;

      width: 465px;

      margin-left: 10px

  }

 

  .penr

  {

      padding-top: 20px;

      text-align: left;

      margin-left: 12px

  }

  .oview

  {

      text-align: left;

      margin-left: 25px

  }

  

@media (max-width: 900px) {

    .enrf{

      width: 100%;

      margin-left: 0px;

      padding-left: 0px;

      border: 2px solid black;

    padding-top: 50px;

    padding-left: 0px;

    margin-left: 0px;

}

.mno

  {

      background-color: grey;

      height: 4%;

      width: 99%;

      margin-left: 10px;

      text-align: left;

  }

  .mnof

  {

      padding-top: 0px;

      background-color: lightgrey;

      width: 100%;

      margin-left: 0px;

  }

  .pfee

  {

      background-color: grey;

      height: 4%;

      width: 100%;

  }

  .pfeef

  {

      margin-top: 30px;

      background-color: transparent;

      

      margin-left: 5px;

  }

  .pop

  {

      background-color: grey;

      height: 4%;

      width: 100%;

  }

  .popf

  {

      padding-top: 10px;

      background-color: transparent;

      width: 100%;

  }

.rsb

  {

      padding-top: 2px;

      background-color: grey;

      height: 4%;

      width: 100%;

      margin-left: 0px

  }

  

  form > div {

    margin: 0 0 15px 0; 

  }

  form > div > label,

  legend {

	  width: 100%;

    float: none;

    margin: 0 0 5px 0;

  }

  form > div > div,

  form > div > fieldset > div {

    width: 100%;

    float: none;

  }

  input[type=text],

  input[type=email],

  input[type=url],

  input[type=password],

  textarea,

  select {

    width: 100%; 

  }

  .oview

  {

      text-align: left;

      padding-left: 40px

  }

  .penr

  {

      padding-top: 50px;

      text-align: left;

      padding-left: 30px;

  }

}



@media (min-width: 1200px) {

  form > div > label,

	legend {

  	text-align: right;

  }

}



.thank-back

{

    padding-bottom: 50px;

}

.thank-back h3{

    font-size: 40px;

    padding-top: 50px;

}

.thank-back p{

    text-align: justify;

    font-size: 24px; 

    padding-left: 250px;

}







.scrollup

        {

            position: fixed;

            bottom: 40px;

            right:8px;

            color:rgba(93,93,93,0.5);

            transition: all 1s;

        }

        @media (min-width:1000px) and (max-width: 2000px)

        {

            .scrollup

            {

                    font-size:60px;

                    bottom: 40px;

                    right:10px;

            }

        }

        @media (min-width:700px) and (max-width:1000px)

        {

            .scrollup

            {

                    font-size:45px;	

            }

        }        

        @media (min-width:600px) and (max-width: 700px)

        {

            .scrollup

            {

                    font-size:40px;

                    b

                    right:7px;

            }

        }

        @media (min-width:400px) and (max-width: 600px)

        {

            .scrollup

            {

                    font-size:35px;

                    

                    right:7px;

            }

        }

        @media (min-width:0px) and (max-width: 400px)

        {

            .scrollup

            {

                    font-size:30px;

                    

                    right:5px;

            }

        }

        

@font-face

        {

            font-family: myFirstFont;

            src: url('../fonts/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2');

            

        }

      

       #content {

  

  width: 270px;

    text-align: justify;

    overflow: hidden;

  height: 3.6em;

    font-size: 16px;

} 

       



#more:checked + div {

  height: auto;

}



/*.howit-works-video {

    background: rgba(0, 0, 0, 0) url("../images/macbook-pro.png") no-repeat scroll center 100% / 100% auto;

    margin-right: 100px;

    max-width: 700px;

    padding: 70px 120px 60px;

    position: relative;

 float: left;

    z-index: 10;

}

*/



.howit-works-video {

    background: rgba(0, 0, 0, 0) url("../images/macbook-pro.png") no-repeat scroll center 100% / 100% auto;

    /* margin-right: 100px; */

    max-width: 700px;

    padding: 45px 120px 60px;

    position: relative;

    float: left;

    z-index: 10;

    

}
.app-btn
{
    margin-right:400px;
}    
.sbm

{

    color: white;

}

 a.sbm:hover 

{

    color: #E5574F;

}



.smap

{

    margin-left: 50px;

}

.smimg

{

    height: 170px; 

    padding-bottom: 110px; 

    margin-top: 50px;

}

.simg

{

    float: left;

    padding-left: 0px;

}

.smmid

{

     float: right; 

     text-align: left;

     margin-top: 20px;

     padding-left: 15px;

     line-height: 2;

}

.smtop

{

    float: left; 

    text-align: left; 

    padding-left: 130px;

    margin-top: 20px; 

    line-height: 2;

}

.smbot

{

    float: left;

    text-align: left; 

    padding-left: 65px;

    margin-top: 20px;

    line-height: 2;

}

.modal-content {

    position: relative;

    background-color: #fff;

    border: 1px solid #999;

    border: 1px solid rgba(0,0,0,.2);

    border-radius: 0px;

    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);

    box-shadow: 0 3px 9px rgba(0,0,0,.5);

    background-clip: padding-box;

    margin-left: -1px;
    z-index: 999;

    height: 410px;

    outline: 0;

}

.modal-open .modal {

    overflow-x: hidden;

    overflow-y: auto;

}

.modal-backdrop.in{
  opacity: 1 !important;
}

.modal-backdrop{
  z-index: 999 !important;;

}

.modal {

    position: fixed;

    top: 0;

    right: 0;

    bottom: 0;

    left: 0;

    z-index: 999;

    display: none;

    overflow: hidden;

    -webkit-overflow-scrolling: touch;

    outline: 0;

}

.modal-backdrop 

{

    background-color: rgba(0,0,0,.5);

}

body

{

    letter-spacing: .8px;

}







.comment {

	

	background-color: #f0f0f0;

	margin: 10px;

}

a.morelink {

	text-decoration:none;

	outline: none;

}

.morecontent span {

	display: none;



}

/*CSS for a really simple responsive grid*/
body{font-family:Open Sans; color:#555555;}
h1{font-size:24px; font-weight:normal; margin:0.4em 0;}

.container { width: 100%; margin: 0 auto; }
.container .row { float: left; clear: both; width: 100%; }
.container .col { float: left; margin: 0 0 1.2em; padding-right: 1.2em; padding-left: 1.2em; }
.container .col.one, .container .col.two, .container .col.three, .container .col.four, .container .col.five, .container .col.six, .container .col.seven, .container .col.eight, .container .col.nine, .container .col.ten, .container .col.eleven, .container .col.twelve { width: 100%; }


@media screen and (min-width: 767px) {
  .container{width: 100%; max-width: 1080px; margin: 0 auto;}
  .container .row{width:100%; float:left; clear:both;}
  .container .col{float: left; margin: 0 0 1em; padding-right: .5em; padding-left: .5em;}
  
  .container .col.three { width: 19.99%; }
  
}

/*All the button styles*/

* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
a{text-decoration:none;}

/********************
GENERIC BUTTON STYLES
********************/
.btn1 {font-size: 18px; white-space:nowrap; width:100%; padding:.8em 1.5em; font-family: Open Sans, Helvetica,Arial,sans-serif; line-height:18px; display: inline-block;zoom: 1; color: #fff; text-align: center; position:relative; -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear; transition: border .25s linear, color .25s linear, background-color .25s linear;}



/*DARK BLUE BUTTON STYLES*/		
.btn1.btn-dark-blue{background-color: #0099cc; border-color: #237fbc; -webkit-box-shadow: 0 3px 0 #1a5c87; box-shadow: 0 3px 0 #1a5c87;}
.btn1.btn-dark-blue:hover{background-color:#0099cc;}
.btn1.btn-dark-blue:active{ top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}

.pdf-img
{
    margin-left: 42px;
    width: 50%;
    height: 50%;
}
.btn-sm
{
    margin-top: 5px;
}